<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- 导入样式 -->
    <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/element-plus/dist/index.css"
    />
    <!-- 导入 Vue 3 -->
    <script src="//cdn.jsdelivr.net/npm/vue@next"></script>
    <!-- 导入组件库 -->
    <script src="//cdn.jsdelivr.net/npm/element-plus"></script>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>头头头头头头</el-header>
        <el-container>
            <el-aside width="200px">侧边栏</el-aside>
            <el-main><span>aaaa</span>
                <div>aaaaaaaaaa</div>
                <el-button>{{ info.name }}</el-button>
                <el-button round @click="dialogVisible = ture">圆角按钮</el-button>
                <el-dialog :visible.sync="dialogVisible" title="Hello world">
                    <p>Try Element</p>
                </el-dialog>
                <el-button  type="primary" round>主要按钮</el-button>
                <el-input v-model="input" placeholder="Please input" /></el-main>
        </el-container>
    </el-container>
</div>
<script>
    const App = {
        data() {
            return {
                info:{
                name: null,
                age: null
                }
            };
        },
        mounted(){
            axios.get('/aa/test7').then(response => (this.info = response.data))
        }
    };
    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount("#app");
</script>
</body>
</html>
