<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- 导入样式 -->
    <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/element-plus/dist/index.css"
    />
    <!-- 导入 Vue 3 -->
    <script src="//cdn.jsdelivr.net/npm/vue@next"></script>
    <!-- 导入组件库 -->
    <script src="//cdn.jsdelivr.net/npm/element-plus"></script>
</head>
<body>
<div id="app">
    <span>aaaa</span>
    <div>aaaaaaaaaa</div>
    <el-button>{{ message }}</el-button>
    <el-button round @click="dialogVisible = ture">圆角按钮</el-button>
    <el-dialog :visible.sync="dialogVisible" title="Hello world">
        <p>Try Element</p>
    </el-dialog>
    <el-button  type="primary" round>主要按钮</el-button>
    <el-input v-model="input" placeholder="Please input" />
</div>
<script>
    const App = {
        data() {
            return {
                message: "Hello Element Plus",
            };
        },
    };
    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount("#app");
</script>
</body>
</html>
