<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/ele.css">
    <script src="js/vue.global.js"></script>
    <script src="js/element-plus.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/vue-router.global.js"></script>
    <style>
        .header {
            padding: 40px;
            text-align: right;
            height: 100px;
        }
        .herderLink {
            margin: 0 20px;
            font-size: 20px;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header class="header">
            <el-link class="herderLink" @click="index">首页</el-link>
            <el-link class="herderLink" @click="services">服务</el-link>
            <el-link class="herderLink" @click="city">城市</el-link>
            <el-link class="herderLink">关于</el-link>
            <el-link class="herderLink">支持我们</el-link>
            <el-link class="herderLink">反馈</el-link>
            <el-link class="herderLink">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                </svg>
            </el-link>
        </el-header>
        <el-main>
            <el-container>
            </el-container>
                <router-view></router-view>
        </el-main>
    </el-container>
</div>

<script>
    const App ={
        data(){
            return{
                info: {
                    name: '',
                    age: ''
                },
            }
        },
        methods: {
            index() {
                this.$router.push({
                    name: 'index',
                    params: {
                        id: '1',
                        name: '首页'
                    }
                })
            },
            services() {
                this.$router.push({
                    name: 'services',
                    params: {
                        id: '2',
                        name: '服务'
                    }
                })
            },
            city() {
                this.$router.push({
                    name: 'city',
                    params: {
                        id: '3',
                        name: '城市'
                    }
                })
            }
        }

    }
    // 1. 定义路由组件.
    const index = { template: '<div>{{ $route.params.id }}{{ $route.params.name }}您好您好</div>' }
    const services = { template: '<div>{{ $route.params.id }}{{ $route.params.name }}</div>' }
    const city = {template: '<div>{{ $route.params.id }}{{ $route.params.name }}</div>'}
    const error = {template: '<div>无效路径</div>'}

    // 2. 创建路由实例并传递 `routes` 配置
    const router = VueRouter.createRouter({
        history: VueRouter.createWebHashHistory(),//使用 hash 模式。
        routes: [
            { path: '/:catchAll(.*)', redirect: '/404'},
            { path: '/404', name: '404', component: error },
            { path: '/', redirect: '/index'},
            { path: '/index', name: 'index', component: index },
            { path: '/services', name: 'services', component: services},
            { path: '/city', name: 'city', component: city},

        ]
    })
    Vue.createApp(App)
        .use(router)
        .use(ElementPlus)
        .mount("#app")
</script>
</body>
</html>
