<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="css/ele.css">
    <script src="js/vue.global.js"></script>
    <script src="js/element-plus.js"></script>
    <script src="js/axios.min.js"></script>
</head>
<body>
<div id="app">
    <el-button  @click="test">点击获取内容</el-button>
    <el-input v-model="person.info"></el-input>
    <el-input v-model="person.name"></el-input>
</div>
<script>
    const App ={
        data(){
            return{
                person: {
                    info: '',
                    name: ''
                }
            }
        },
        methods: {
            test() {
                axios.get("/data/test").then(res => (this.person = res.data) )
            }
        }
    }
    Vue.createApp(App)
        .use(ElementPlus)
        .mount("#app")
</script>
</body>
</html>
