<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户</title>
    <link rel="stylesheet" href="css/ele.css">
    <script src="js/vue.global.js"></script>
    <script src="js/element-plus.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/vue-router.global.js"></script>
    <style>
        #app{
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
        }
        body{
            background: #f9f9fa;
        }
        .title{
            height: 80px;
            text-align: right;
        }
        .info{
            padding: 20px 100px;
            text-align: center;
        }
        .div{
            background: white;
            text-align: center;
            border-radius: 25px;
            height: 600px;
        }
        .row{
            padding: 20px;
        }
        .img{
            float: left;
            width: 60vh;
            height: 100vh;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <div class="img">
            <img src="img/zc.jpg" style="width: 100%;height: 100%">
        </div>
        <el-container>
        <el-header class="title">
            <el-button>上传头像</el-button>
            <el-button>修改信息</el-button>
            <el-button @click="passdialog=true">修改密码</el-button>
            <el-button @click="toaccount">我的账户</el-button>
        </el-header>
        <el-main class="info">
            <div class="div">
                <img src="img/str.png" alt="头像">
                <el-row class="row">
                    <el-col :span="8">昵称:</el-col>
                    <el-col :span="14">{{user.userName}}</el-col>
                </el-row>
                <el-row class="row">
                    <el-col :span="8">性别:</el-col>
                    <el-col :span="14">{{user.userSex}}</el-col>
                </el-row>
                <el-row class="row">
                    <el-col :span="8">账号:</el-col>
                    <el-col :span="14">{{user.userNumber}}</el-col>
                </el-row>
                <el-row class="row">
                    <el-col :span="8">手机号:</el-col>
                    <el-col :span="14">{{user.userPhone}}</el-col>
                </el-row>
                <el-row class="row">
                    <el-col :span="8">角色:</el-col>
                    <el-col :span="14">{{user.userRole}}</el-col>
                </el-row>
                <el-row class="row">
                    <el-col :span="8">订单:</el-col>
                    <el-col :span="14">{{user.order}}</el-col>
                </el-row>
            </div>
        </el-main>
        </el-container>
    </el-container>

    <el-dialog
            v-model="passdialog"
            title="修改密码"
            width="30%">
        <el-form  ref="pass"
                  :model="pass"
                  :rules="passrule"
                 status-icon>
            <el-form-item label="请输入旧密码" label-width="120px" prop="oldUserPass">
                <el-input v-model="pass.oldUserPass"></el-input>
            </el-form-item>
            <el-form-item label="请输入新密码" label-width="120px" prop="userPass">
                <el-input v-model="pass.userPass"></el-input>
            </el-form-item>
            <el-form-item label="再次输入新密码" label-width="120px" prop="newUserPass">
                <el-input v-model="pass.newUserPass"></el-input>
            </el-form-item>
        </el-form>
        <template #footer>
      <span class="dialog-footer">
        <el-button @click="passdialog = false">取消</el-button>
        <el-button type="primary" @click="passinfo('pass')">提交</el-button>
      </span>
        </template>
    </el-dialog>
</div>
<script>
    const App ={
        data(){
            var repasswordValidator = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.pass.userPass) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            return{
                user: {
                    userName: '',
                    userSex: '',
                    userNumber: '',
                    userPhone: '',
                    userRole: '',
                    order: ''
                },
                visitor: true,
                passdialog: false,
                pass: {
                    oldUserPass:'',
                    userPass: '',
                    newUserPass: '',
                },
                passrule: {
                    oldUserPass: [
                        { required: true, message: '请输入旧密码', trigger: 'blur' },
                    ],
                    userPass: [
                        { required: true, message: '请输入新密码', trigger: 'blur' },
                    ],
                    newUserPass: [
                        { required: true, message: '请再次输入新密码', trigger: 'blur' },
                        { validator: repasswordValidator,trigger: 'blur' },
                    ],
                }

            }
        },
        methods: {
            getInfo() {
                axios.get("userInfo",{headers: {'token': localStorage.getItem('token')}}).then(
                    res => {
                        if(res.data.code == 0){
                            this.user.userName = res.data.userName
                            this.user.userSex = res.data.userSex === 1?'男':'女'
                            this.user.userNumber = res.data.userNumber
                            this.user.userPhone = res.data.userPhone
                            this.user.userRole = res.data.userRole ==='1'?'管理员':'游客'
                            if(null != res.data.userTrip){
                                this.user.order = res.data.userTripTime + res.data.userTrip +'的旅行'
                            }else {
                                this.user.order = '无'
                            }
                        }else {
                            this.$message.error(res.data.msg)
                        }
                    }
                )
            },
            toaccount() {window.location.href="/account" },
            passinfo(pass) {
                this.$refs[pass].validate(valid => {
                    if (valid) {
                        axios.post("pass", {
                                userNumber: this.user.userNumber,
                                oldUserPass: this.pass.oldUserPass,
                                newUserPass: this.pass.newUserPass,
                            }, {headers: {'token': localStorage.getItem('token')}}
                        ).then(
                            res => {
                                if (res.data.code == 0) {
                                    this.$message.success(res.data.msg)
                                } else {
                                    this.$message.error(res.data.msg)
                                }
                            })
                        this.passdialog = false
                    }
                })
            },
            toVisitor() {
                axios({
                    method: 'get',
                    url: 'visitor',
                    headers: {'token': localStorage.getItem('token') }
                }).then(res => {
                    if(res.data.data){
                        this.$message.error("登陆状态已过期或未登录")
                    window.setTimeout(function () {
                        window.location.href = window.location.protocol + '//' + window.location.host + "/"}, 2 * 1000)
                    }
                })
            },
        },
        created() {
            this.toVisitor()
            this.getInfo()
        }
    }
    Vue.createApp(App)
        .use(ElementPlus)
        .mount("#app")
</script>
</body>
</html>
